 <div class="footer">
 <!-- 	<section class="getStarted">
 	<h4>Get Started</h4>
 </section> -->
 <!-- <section class="loginSignup">
 	<p class="userinfo">
      <% if current_user %>
        Signed in as <%= current_user.name %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
      <% else %>
        <%= link_to "LOGIN", new_session_path %> // <%= link_to "SIGNUP", new_user_path %>
      <% end %>
    </p>
    <p>Go ahead and </p>
    <div class="flatButton">
 <%= link_to "Add a New Project",  new_project_url %> 
</div>
</section> -->
<section class="madeWith">
<p>Made with a bit of <%= image_tag ("beerFooter.png") %></p>
</section>
</div>