<%= render "/shared/header" %>
<section class="projectPage">

	<% if @project.owner == current_user %>
		<%= link_to "Edit", edit_project_path(@project) %>
		| <%= link_to "Delete", @project, method: :delete, data: 
		{confirm: "Are you sure you want to delete this project?"}  %>
	<% end %>

	<section class="project">
	<h3><%= @project.name %></h3>
	<p>Name: <%= @project.name %> </br> 
		Description: <%= @project.description %> </br>
		Link: <%= @project.link %> </br>
		Created by: </p> 
	</section>

	<section class="reviews">
		<h3 class="reviewsTitle">Reviews for <%= @project.name %></h3>
		<div id="review-list">
			<%= render '/reviews/displayReviews'%>
		</div>
	</section>
	
	<% if current_user %>
		<%= render '/reviews/newReviewForm'%>
	<% else %>
		<p>You must be <%= link_to "logged in", new_session_path %> to add a comment.</p> 
	<% end %>
</section>
<%= render "/shared/footer" %>

<script type="text/javascript">
  $(function() {
     $("#new_review")
        .on('ajax:beforeSend', function() { 
          $("input[type='submit']")
            .val('Saving...')
            .attr('disabled', 'disabled');
        })
        .on('ajax:complete', function() {
          $("input[type='submit']")
            .val('Create Review')
            .removeAttr('disabled');
        });
  });
</script>